html{
    background-color:rgb(230, 230, 230);
    padding:20px;
}
body{
    font-family: Saira;
}
a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  a:hover {
    background-color: #ffe0e0;
    color: black;
    border-radius: 10px;
  }
  
  /* Add a color to the active/current link */
  a.active {
    background-color: #04aaa774;
    color: white;
    border-radius: 5px;
  }
  a.active:hover {
    background-color: #04aaa793;
    color:white;
    border-radius: 5px;
  }