.topnav {
    font-family: "Saira";
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: -20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffe0e0;
    color: black;
    border-radius: 10px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04aaa774;
    color: white;
    border-radius: 5px;
  }
  .topnav a.active:hover {
    background-color: #04aaa793;
    color:white;
    border-radius: 5px;
  }